.work-section {
    position: relative;

    .work-inner {
        .work-item {
            position: relative;
            overflow: hidden;

            .box-img {
                overflow: hidden;
                transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
            }

            .box-info {
                position: absolute;
                bottom: 20px;
                left: 20px;
                right: 20px;
                padding: 15px;
                background-color: #fff;
                align-items: center;
                transform: translateY(140px);
                transition: all .8s cubic-bezier(0.34, 1.56, 0.64, 1);
                opacity: 0;

                .meta {
                    margin-bottom: 5px;

                    a {
                        color: #5C4C32;
                        font-size: 16px;

                        &:not(:last-of-type) {
                            margin-left: 10px;
                        }
                    }
                }

                .title-block {
                    font-size: 19px;
                }

                .btn {
                    background-color: $heading-color;
                    color: #fff;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .8s cubic-bezier(0.34, 1.56, 0.64, 1);

                    &:hover {
                        background-color: #5C4C32;
                    }

                }
            }

            &:hover {

                .box-img {
                    transform: scale(1.05);
                }

                .box-info {
                    transform: translateY(0);
                    opacity: 1;


                }
            }
        }

        .work-item-box {
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 30px;            
        }
    }
}

.gallery-inner {
    position: relative;

    .gallery-item {

        .box-img {
            height: 300px;
        }
        
        .text {
            background-color: $heading-color;
            padding: 20px;
            text-align: center;

            .title-block {
                color: #F0EDE1;
            }
        }
    }
}